
.input-login {
    height: 2rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5%;
}

#title {
    text-align: center;
}

.go {
    background-color: #877264;
    width: 35%;
    height: 3rem;
    border: none;
    border-radius: .5rem;
    font-weight: 600;
    color: #000;
    font-size: large;
    cursor: pointer;
    margin: 2% 0 0 0;
}

#diferent-passwords {
    display: none;
    color: red;
    font-weight: 500;
}

#error-message {
    display: none;
    color: red;
    font-weight: 500;
}

@media (max-width: 480px) {
    #login {
        width: 80%;
    }
}