.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1AA1A7;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.title-pass{
    text-align: center;
    font-size: xx-large;
    color: #fff;
}

.form-forgot {
    background-color: #fff;
    width: 30%;
    min-height: 30%;
    flex-direction: column;
    justify-content: center;
    padding: 0 5% 5% 5%;
    border-radius: 2rem;
    color: #137F83;
    font-size: larger;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.send {
    width: 100%;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: #137F83;
    border: none;
    font-weight: 600;
    color: #fff;
    font-size: large;
    cursor: pointer;
    margin: 2% 2% 0 2%;
}