.sidebar-item{
    width: 80%;
    background-color: #1AA1A7;
    padding: 10px;
    margin: 0 5% 1rem 5%;
    border: 2px solid #fff;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    font-size: larger;
    text-align: center;
}

.sidebar-item a{
    text-decoration: none; 
    color: #fff;
    font-size: larger;
}