
.sidebar-item {
  width: 80%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 1rem;
  color: white;
  font-size: larger;
  font-weight: 600;
  padding: 10px;
  margin: 0 5% 1rem 5%;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-item:hover,
.sidebar-item:focus {
  background-color: white;
  color: #1AA1A7;
  outline: none;
}

